<header class="w-full h-20 flex items-center justify-between px-6 -py-4" [ngClass]="{
    'border-b border-brand-border': this.authService.isLoggedIn(),
    'shadow-lg/30': !this.authService.isLoggedIn() || this.isHomeRoute() 
    }">
    <div class="flex items-center gap-3">
        <div class="flex flex-col">
            @if (this.authService.isLoggedIn() && !this.isHomeRoute()) {
            <h1 class="text-lg font-bold leading-tight">Incident Dashboard</h1>
            }
            @else {
            <h1 class="text-lg font-semibold leading-tight">Tickets System</h1>
            <small>Manage your tickets</small>
            }
        </div>
    </div>

    <div class="flex items-center gap-5">
        @if(!this.authService.isLoggedIn() && !isLoginRoute()) {
        <nav>
            <ul class="flex gap-6 list-none m-0 p-0">
                <li class="cursor-pointer hover:text-brand-primary transition-colors">
                    <span class="flex items-center gap-2" routerLink="/login"><ng-icon
                            name="heroArrowRightEndOnRectangle" /> Login</span>
                </li>
            </ul>
        </nav>
        }
        @if(this.authService.isLoggedIn() && !isHomeRoute()) {
            <app-searchbar size="small" placeholder="Search tickets..." width="full" (search)="onSearchValueChange($event)"></app-searchbar>
            @if (notificationsCount() == 0) {
                <app-icon-button>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0" />
                    </svg>
                </app-icon-button>
            }
            @else {
                <app-icon-button>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0M3.124 7.5A8.969 8.969 0 0 1 5.292 3m13.416 0a8.969 8.969 0 0 1 2.168 4.5" />
                    </svg>  
                </app-icon-button>
            }
            <app-icon-button>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0 1.172 1.025 1.172 2.687 0 3.712-.203.179-.43.326-.67.442-.745.361-1.45.999-1.45 1.827v.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 5.25h.008v.008H12v-.008Z" />
                </svg>
            </app-icon-button>
        }
        @if (this.isHomeRoute()) {
            <app-icon-button (click)="darkModeService.toggleTheme()">
            @if(this.darkModeService.currentMode) {
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M21.752 15.002A9.72 9.72 0 0 1 18 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 0 0 3 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 0 0 9.002-5.998Z" />
                </svg>  
            } @else {
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v2.25m6.364.386-1.591 1.591M21 12h-2.25m-.386 6.364-1.591-1.591M12 18.75V21m-4.773-4.227-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z" />
                </svg>
            }
            </app-icon-button>
        }
    </div>
</header>